**/.git
**/.gitignore
**/.dockerignore
**/.vscode
**/.idea
**/node_modules
**/bin
**/obj
**/publish
**/*.db
**/*.db-shm
**/*.db-wal
**/logs
client/sales-dash/dist
client/sales-dash/build
.env
.agents
.nuget
.dotnet
*.md
