**/.git
**/.gitignore
**/.dockerignore
**/.vscode
**/.idea
**/node_modules
**/bin
**/obj
**/publish
**/*.db
**/*.db-shm
**/*.db-wal
**/logs
.local
.nuget
.dotnet
.dotnet_home
.cache
.config
client/sales-dash/dist
client/sales-dash/build
client/sales-dash/node_modules
.env
.agents
*.md
