version: "3.9"

services:
  salesapp-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: salesapp-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "5000:5000"
    deploy:
      resources:
        limits:
          memory: 2G
          cpus: '1.5'
    depends_on:
      - nginx

  client:
    build:
      context: ./client
      dockerfile: ../Dockerfile.client
    container_name: salesapp-client
    stdin_open: true
    tty: true

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - salesapp-api
      - client

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: /bin/sh -c "trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"
