
services:
  salesapp-api:
    build:
      context: .
      dockerfile: Dockerfile.api
      args:
        BUILD_ID: "${BUILD_ID:-}"
    container_name: salesapp-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5001:5000"
    deploy:
      resources:
        limits:
          memory: 2G
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: salesapp-client
    stdin_open: true
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.local.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - salesapp-api
      - client
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
